@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Card {
    position: relative;
    top: 150px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding: 0px 50px 0px 20px;
}

/* styling html */
#card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(36px, auto);
    height: 100%;
    background: #f5f5f5;
    width: 62%;
    padding: 39px 0px 40px 50px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 1px 2px 9px -7px
}

.input-cont {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 56%;
}

.input-cont label {
    font-size: 13px;
}

.input-cont input {
    font-size: 12px;
}

.inp-color-width {
    width: 100%;
}

.show-css-code {
    position: relative;
    top: 200px;
}

.show-css-code,
.show-Html-code {
    background-color: #ffffff;
    width: 40%;
    border-radius: 12px;
    height: 205px;
    margin-top: -312px;
    position: relative;
    box-shadow: 0px 0px 14px -8px rgb(153, 153, 153);
  
    padding: 20px
    
}

#YourCssCode {
    overflow-y: scroll;
    height: 139px;
}

.code-flex {
    display: flex;
    position: fixed;
    width: 100%;
    margin-top: 100px;
    justify-content: space-evenly;
}

#copiedsucc,
#Htmlcopiedsucced {
    padding: 2px;
    font-size: 11px;
    margin-right: 13px;
    border-radius: 4px;
    border: none;
    width: 92px;
    height: 23px;
    cursor: pointer;
    transition: 0.3s ease;
}

#copiedsucc:hover {
    background-color: gainsboro;
}

#Htmlcopiedsucced:hover {
    background-color: gainsboro;
}

/* gen code image styling*/
#genCode {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -13px;
    height: 300px;
    cursor: pointer;
}

/* yaha se shuru hota hai generate button click karne ke baad background blur karna ye uske baad ki whole styling */
.all {
    height: 0;
}

.all.active {
    filter: blur(8px);
    pointer-events: none;
    user-select: none;
    transition: 0.2s;
    height: 80px;
}

#Code-Container {
    /* visibility: hidden; */
    display: none;
    opacity: 0;
    transition: 0.3s;
    top: 130px;
    position: relative;
}

#Code-Container.AfterClick {
    /* visibility: visible; */
    display: inline;
    opacity: 2;
    transition: 0.3s;

}

.CloseCode {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -201px;
    right: 24px;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
}

.closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.containerrr {
    display: none;
}

.closeBody {
    visibility: hidden;
    opacity: 0;
    transition: 0.1s;
    top: 130px;
}
.closeBody.clsBodyClick {
    visibility: visible;
    opacity: 2;
    transition: 0.2s;
    height: 135vh;
    top: 0;
    width: 100%;
    margin-top: -212px;
    /* background-color: rgba(255, 0, 0, 0.301); */
}
/*  */
.showCardContainer{
    display: flex;
    width: 100%;
    display: grid;
    row-gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
}